#select {
  height: 50vh;
  overflow-y: scroll;
  width: auto;
}

#select input[name="source-a"] {
  margin-right: 0.75em;
}

#select input[name="source-b"] {
  margin-right: 1em;
}

#result {
  overflow-y: scroll;
  border-top: thin solid #ccc;
  position: fixed;
  background-color: white;
  bottom: 0;
  height: 50vh;
  width: 100%;
  padding-top: 10px;
}

#result .tweet {
  float: right;
}
#result .tweet iframe {
  vertical-align: bottom;
}

#result[data-status="loading"] {
  color: #999;
}

#result[data-status="loading"] .tweet {
  opacity: 0.5;
  pointer-events: none;
}

#result[data-status="failed"] .tweet {
  visibility: hidden;
}

#result .text {
  text-align: center;
  font-size: 63px;
}

#result[data-status="init"] * {
  display: none;
}
